/* CSS variables */

:root{
    --primary-color: rgb(16, 135, 156);
    --primary-color2:#854fee;
    --title-color:#141313;
    --border-color:#201f1f17;
    --text-color:rgb(83, 77, 77);
    --gradient-color:linear-gradient(20deg,#4458dc 30%,#854fee 70%);
    --shadow-color:0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow:2px 10px 30px rgba(57,56,61,0.205);
}